<configuration>
	<typeAliases>

		<typeAlias type="kosta.domain.Approver" alias="Approver"/>
		<typeAlias type="kosta.domain.Document" alias="Document"/>
		<typeAlias type="kosta.domain.Receiver" alias="Receiver"/>
		<typeAlias type="kosta.domain.Referrer" alias="Referrer"/>
		<typeAlias type="kosta.domain.DocumentSearch" alias="DocumentSearch"/>
		<typeAlias type="kosta.domain.DocumentList" alias="DocumentList"/>
		<typeAlias type="kosta.domain.Community" alias="Community"/>
		<typeAlias type="kosta.domain.Reply" alias="Reply"/>
		<typeAlias type="kosta.domain.Search" alias="Search"/>
		<typeAlias type="kosta.domain.Emp" alias = "Emp"/>
		<typeAlias type="kosta.domain.Login" alias = "Login"/>
		<typeAlias type="kosta.domain.Schedule" alias = "schedule"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/oracle"/>
			</dataSource>
		</environment>		
	</environments>
	
	<mappers>
		<mapper resource="kosta/mapper/Document.xml"/>
		<mapper resource="kosta/mapper/Community.xml"/>
		<mapper resource = "kosta/mapper/Login.xml"/>
		<mapper resource = "kosta/mapper/Schedule.xml"/>
	</mappers>
	
</configuration>